/* Media queries go here */
@media screen and (max-width: 700px) {

nav .site-nav {
  width: 100%;
}
nav .site-nav ol li {
  width: 100%;
}
header .site-header {
  width: 100%;
}
.image-gallery li:nth-child(odd) {
  width: 100%;
}
.image-gallery li:nth-child(even) {
  width: 100%;
}
#page-section {
  width: 100%;
}
#contact {
  width: 100%;
}
#contact li {
  width: 100%;
}
.site-footer {
  width: 100%;
}
#about {
  width: 100%;
}
}

}
/* Media queries go here */
@media screen and (max-width: 500px) {

nav .site-nav {
  width: 100%;
}
nav .site-nav ol li {
  width: 100%;
}
header .site-header {
  width: 100%;
}
.image-gallery li:nth-child(odd) {
  width: 100%;
}
.image-gallery li:nth-child(even) {
  width: 100%;
}
#page-section p {
  padding-top: 10%;
  width: 100%;
}
#contact {
  width: 100%;
}
#contact li {
  width: 100%;
}
.site-footer {
  width: 100%;
}
#about {
  width: 100%;
}
}
