* { box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.25em;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear:both;
}

.site-header {
  border-bottom: solid 3px maroon;
  max-width: 80%;
  position: fixed;
  padding: 3% 0% 3% 0%;
  background-color: white;
  right: 0;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.site-title {
  float: left;
}

.site-nav ol{
  float: right;
  margin-top: 2%;
}
.site-nav li {
  display: inline-block;
  margin-left: 2em;
}

.image-gallery li:nth-child(odd) {
  float: left;
  width: 48%;
  margin-bottom:2%;
  margin-top:2%;
}

.image-gallery li:nth-child(even) {
  margin-right: 0%;
  width: 48%;
  float: right;
  margin-bottom:2%;
  margin-top:2%;
}

 #about {
  padding: 20% 0% 0% 52%;
  line-height: 1.5em;
  margin: 0px;
}

#contact {
  padding: 10% 0% 10% 52%;
  line-height: 1em;
}

#contact li {
  list-style: circle;
  list-style-position: inside;
  line-height: 150%;

}

.site-footer {
  padding: 10% 0% 5% 0%;
  width: 100%;
  text-align: center;
  border-top: solid 3px maroon;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: maroon;
}
a:hover {
  text-decoration: none;
  color: maroon;
}
a:active {
  text-decoration: none;
  color: maroon;
}
